{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} - AfroBizConnect{% endblock %}

{% block content %}
  
    <div class="row">

        <div class="col-md-4">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>

        <div class="col-md-4 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ product.prix / 100|number_format(2, '.', '.') }} €</span>

            <hr>
            <p>{{ product.description }}</p>
            <a href="" class="btn btn-primary">Ajouter au panier</a>

        </div>
    </div>
  

{% endblock %}
